{% extends 'base.html' %}
{% load static %}
{% block content %}
  <div class="col-12 my-3 messages-list">
    {% if request.session.username %}
      <h1>Welcome back, {{ request.session.username }}!!!</h1>
    {% endif %}
    {% if chats %}
      {% for name, title in chats.items %}
        <div class="col-12">
          <a href="{% url 'chat_room' name %}" class="d-flex message">
            {{ title }}
          </a>
        </div>
      {% endfor %}
    {% else %}
      <p class="px-3">Nothing to show</p>
    {% endif %}
  </div>
{% endblock %}

