{% extends 'base.html' %}
{% load static %}
{% block content %}
  <div class="col-12">
    <div class="chat">
      <div class="chat-header d-flex justify-content-between p-3">
        <div class="chat-username">
          {{ title }}
        </div>
      </div>
      <div class="chat-messages">
        <div class="row" id="msg_area"></div>
      </div>
      <div class="chat-write">
        <textarea class="form-control" id="message" title="Message"></textarea>
        <div class="d-flex flex-column-reverse flex-sm-row justify-content-between mt-3">
          <a href="{% url 'chats' %}" class="btn btn-outline-primary mt-2 mt-sm-0">
            Back to list
          </a>
          <button class="btn btn-primary" type="button" id="sendMsgBtn">
            Send message
          </button>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
{% block extra_scripts %}
  <script>
    const username = '{{ request.session.username }}';
  </script>
  <script src="{% static 'js/scripts.js' %}"></script>
{% endblock %}